.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-top: 20vh;
}

table td {
	border: 1px solid grey;
	width: 100px;
	height: 100px;
    color: white;
}